<div class="container">
<p id="notice"><%= notice %></p>
<p>
  <strong>Workout Name:</strong>
  <%= @workout.name %>
</p>
<p>
  <strong>Workout Type:</strong>
  <%= @workout.workout_focus %>
</p>
<ol class="exercises">
<% for exercise in @exercises %>
  <li>
   <strong>Exercise Name:</strong> <%= exercise.name %><br>
   <strong>Target Muscle(s):</strong> <%= exercise.target %><br>
   <strong>Notes:</strong> <%= exercise.info %><br>
    <ol class="reps">
      <% exercise.reps.each do |rep| %> 
      <li>
       <strong> Rep Amount:</strong> <%= rep.rep_amount %><br>
       <strong> Rep Weight:</strong> <%= rep.rep_weight %>
      </li>
      <% end %>
    </ol>
  </li>
<% end %>
</ol>

<button id='ecreate' class='btn btn-small btn-primary'><%= link_to 'Edit Workout', edit_workout_path(@workout) %></button>
<button id='ecreate' class='btn btn-small btn-primary'><%= link_to 'Back to Workouts', userworkout_path %></button>
</div>