<li>
 <span id="grav"> <%= gravatar_for user, size: 59 %></span>
 <strong id='unam'> <%= link_to user.name, user %></strong><br>
 
<% if current_user?(user) %> 
 	<span id='fcount'><strong> Followers</strong> <%= link_to current_user.followers.count %></span>
    <span id='fworkout'><strong> Workouts</strong> <%= link_to current_user.workouts.count %></span>
 <% else %>
    <span id='fcount'><strong> Followers</strong> <%= link_to user.followers.count %></span>
    <span id='fworkout'><strong> Workouts</strong> <%= link_to user.workouts.count %></span>
 <% end %>
 
 <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>