<p id="notice"><%= notice %></p>


  <% unless @workout.name.blank? %>
  <p>
  <strong>Workout Name:</strong>
  <%= @workout.name %></p>
  
  <%end%>



<p>
  <strong>Exercise Name:</strong>
  <%= @exercise.name %>
</p>
<p>
<strong>Target Muscle:</strong> 
<%= @exercise.muscle_target %><br>
</p>
<p>
  <strong>Notes:</strong> 
  <%= @exercise.info %><br>
</p>

<ol class="exercises">
     
    
  <li>
    <ol class="reps">
      <% @exercise.reps.each  do |rep| %> 
      <li>
       <strong> Rep Amount:</strong> <%= rep.rep_amount %><br>
       <strong> Rep Weight:</strong> <%= rep.rep_weight %>
      </li>
      <% end %>
    </ol>
  </li>

</ol>

<button id='ecreate' class='btn btn-small btn-primary'><%= link_to 'Edit Exercise', edit_exercise_path(@exercise)%></button>
<button id='ecreate' class='btn btn-small btn-primary'><%= link_to 'Back to Exercises', exercises_path %></button>
<button id='ecreate' class='btn btn-small btn-primary'><%= link_to 'View Workout List', workouts_path %></button>