<header id='header' class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
      <div class="container2">
          <%= link_to "Fit by Us", root_path, id: "logo"  %> <span class='beta'>Beta</span>
          <nav>
             
              <ul id='topper' class="nav pull-right">
                  <% if signed_in? %>
                  <li><%= link_to "Workouts", workouts_path %></li>
                  <li><%= link_to "Exercises", exercises_path %></li>
                  <li><%= link_to "Dashboard", dashboard_path %></li>
                  <li id="fat-menu" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Account <b class="caret"></b>
                    </a>
              <ul class="dropdown-menu">
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                    <li><%= link_to "Users List", users_path %></li>
                    <li class="divider"></li>
                    
              </ul>
                </li>
                
                   <li> 
                   <p id='heads'>  
                    <span id='hstat'> <%=link_to current_user.name, users_path  %></span>
                    <span id='hstat2'>  <%= render 'shared/stats' %></span>
                    <span id='hstat3'><%= link_to "Sign Out",signout_path, method: "delete" %></span>
                   </p>
                </li>
              <% else %>
                <li><%= link_to "Sign in", signin_path %></li>
              <% end %>
            </ul>
          </nav>
      </div>
  </div>
</header>
